:root {
  --primary-color: #00e2f6;
  --secondary-color: #1c1d1e
}

.background-primary-color {
  background-color: var(--primary-color);
}

@font-face {
  font-family: 'NewAmsterdam-Regular';
  src: url('../assets/googlefonts/NewAmsterdam-Regular.ttf') format('ttf');
}

h1 {
  font-family: "NewAmsterdam-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background-dark {
  background-color: var(--secondary-color);
  color: #ffffff !important;
}

.background-light {
  background-color: #ffffff;
  color: black;
}

.navbar-light {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-color);
}

@media (max-width: 700px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

.profile-image {
  width: 380px;
  box-shadow: 9px 14px 20px 2px;
}

.footer-icon {
  font-size: 30px;
}

.footer-a {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
}

.footer-p {
  margin: 0 0 1px 5px;
}

.whatsapp-color {
  color: #00e676;
}

.btn-whatsapp {
  background-color: #198754 !important;
  color: #ffffff !important;
}

.instagram-color {
  color: #bf26af;
}

.btn-instagram {
  background-color: #bf26af !important;
  color: #ffffff !important;
}

.gmail-color {
  color: #ff0000;
}

.btn-gmail {
  background-color: #ff0000 !important;
  color: #ffffff !important;
}

.btn-linkedin {
  background-color: #0d6efd !important;
  color: #ffffff !important;
}

.card-image {
  width: 180px;
  box-shadow: 9px 14px 20px 2px;
}

.card-shadow {
  border-radius: 10px;
  box-shadow: 5px 8px 20px 2px
}

.resize-none {
  resize: none;
}

.contact-form {
  background-color: var(--secondary-color);;
  color: #ffffff;
  border-radius: 10px;
}

.change-theme-btn {
  cursor: pointer;
}